{% extends 'app/base.html' %}

{% block title %}
[V.B0ARD] - User panel
{% endblock %}

{% block content %}
{% if comment|length > 0 %}
    <h1> {{ comment }} </h1>
{% endif %}

<p class="lead text-success"> <b> # Station - Count
    {% if station|length > 0 %}
        {{ station|length }}
    {% else %}
        0
    {% endif %}
</b> </p>
<ul>
    {% if station|length > 0 %}
    <table class="table table-dark text-success">
        <thead>
            <tr>
                <th scope="col">#Station_name</th>
            </tr>
        </thead>
        <tbody>
        {% for p in station %}
        <tr><td> {{ p.name }} </td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="lead text-success"> <b> # Not found</b> </p>
    {% endif %}
</ul>

{% endblock %}