<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>SmartBalance</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- Boxicons CDN Link -->
   
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
 <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
 <script src="../assets/js/form.js"></script>
  <div class="sidebar">
    <div class="logo-details">
      <a href="/">
        <span class="logo_name">[SMR+B1BNC]</span>
      </a>
    </div>
    <ul class="nav-links">
      <li>
          <a href="/registration">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Registration</span>
          </a>
      </li>
      <li>
          <a href="/login" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Login</span>
          </a>
      </li>
      <li>
          <a href="/coolingSystem">
            <i class='bx bxs-battery-low' ></i>
            <span class="links_name">Cooling System</span>
          </a>
        </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Cooling System</div>
            <div class="sales-details">
                <div class="box">
                  <img src="data:image/png;base64,{{ .image }}" style="height:500px; width:500px">
                </div>
            </div>
          </div>
        </div>
      </div>
  </section>

</body>
</html>