<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
<title>Index</title>

</div>
</head>
<body>
  <div class="inner">
      <div class="infoText">
        <span> 
            <pre></pre>
            <pre>  Сервис реализует функционал управляющего поезда</pre>
            <pre>  Каждые 3 минуты поезд приезжает на станцию, на</pre>
            <pre>  которой при вводе пароля все могут украсть товары </pre>
            <pre>  Не забывай о чистоте в вагонах и следи за </pre>
            <pre>  изменением пароля на груз! </pre>
            <pre></pre>
            <form method="post">
              <button type="submit" name="start">Начать</button>
            </form>
        </span></div>
      </div>
</body>
<footer>
  <div class="footer">&copy;<span> CyberCTF - [CTR1PANEL] </span></div>
</footer>
</html>

