<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>0BCA5</title>
</head>
<body>
    <h1>Welcome to [0BCAC]</h1>
    <form class="form-style-9" method="post">
        <ul>
        <li>
            <input type="text" name="name" class="field-style field-split align-left" placeholder="Name" autocomplete="off"/>
            <input type="text" name="city" class="field-style field-split align-right" placeholder="City" autocomplete="off"/>
        
        </li>
        <li>
            <input type="text" name="place" class="field-style field-split align-left" placeholder="Place" autocomplete="off"/>
            <input type="text" name="vanNumber" class="field-style field-split align-right" placeholder="№ Van" autocomplete="off"/>
        </li>
        <li>
        <input type="text" name="cardID" class="field-style field-full align-none" placeholder="ID Card for payment" autocomplete="off"/>
        </li>
        <li>
        <input type="submit" value="Book ticket" name="book"/>
        </li>
        </ul>
    </form>

    <form class="form-style-9" method="post">
        <ul>
            <li>
                <input type="text" name="book_id" class="field-style field-full align-none" placeholder="Book ID" autocomplete="off"/>
            </li>
            <li>
                <input type="submit" value="Check ticket" name="check"/>
            </li>
        </ul>
    </form>
</body>
</html>